.start-screen {
  margin: auto;
  overflow: auto;
}

.whole-group {
  max-width: 800px;
  height: auto;
  top: 10px;
  margin: auto;
}

.blank-overlay {
  position: absolute;
  opacity: 0.5;
}

.svg {
  position: relative;
}

.svg g path {
  fill: hsl(202,51%,25%);
}
