.start-screen {
  margin: auto;
  overflow: auto;
}

.whole-group {
  max-width: 310px;
  height: auto;
  top: 10px;
  margin: auto;
}

.blank-overlay {
  position: absolute;
  opacity: 0.5;
}

.svg {
  position: relative;
}

.svg g {
  fill: hsl(225,60%,20%);
}
