.start-screen {
  margin: auto;
  overflow: auto;

}

.outer-group {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle-group {
  display: table-cell;
  vertical-align: middle;

}

.inner-group {
  margin-left: auto;
  margin-right: auto;
  width:310px;

}

.blank-overlay {
  position: absolute;
  opacity: 0.5;
}

.svg {
  position: relative;
}
